* {
	margin: 0;
	border: 0;
	color: #202020;
}
body {
	margin: 1rem;
}
header {
	background-color:  #BFCC94;
	max-width: 45rem;
	max-height: 19rem;
	box-shadow: 3px 3px #404040;
	border-radius: .75rem;
	margin-top: 2rem;
	padding-top: 1.5rem;
}
h1 {
/*	position: relative;
	margin-top: 100px;
	right: 25%;
	float: left;*/
}

h5 {
	font-size: 2rem;
}

p {
	text-align: center;
}
.checkbox {
	transition: box-shadow .6s;
}
.card {
	background-color: #F87575;
	box-shadow: 3px 3px #404040;
	min-width: 40%;
	max-width: 80%;
	display: inline-block;
	padding: 1rem;
	margin: 1.75rem;
	border: 1px solid #404040;
}
.menu {
/*	position: relative;*/
	margin: -1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: radial-gradient(circle, black .2rem, transparent .1rem);
    background-size: 100% 33.33%;
    transform: rotate(0deg);
    transition: transform 350ms ease;
}
.card-btn {
	background-color: #F87575;
}
.delete {
	margin-right: -1.2rem;
	float: right;
	border-radius: .75rem;
	transition: font-size .3s;
}
.btn {
	box-shadow: 3px 3px #404040;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: auto;
	background-color: #F0F4EF;
	color: black;
}


.modal-content {
	background-color: #F87575;
	border-radius: .75rem;
	min-width: 17rem;
	width: 80%;
	margin: 15% auto;
}
.modal-header {
/*	background-color: ;*/
	align-items: end;
}
.modal-footer {

}
.close {
	margin: .2rem;
	border-radius: .75rem;
	box-shadow: 3px 3px #404040;
}
.form-group {
	box-shadow: 3px 3px #404040;
	background-color:  white;
	text-align: center;
	margin-left: 0.2rem;
	margin: 2rem;
	min-width: 16rem;
	max-width: 80%;
	max-height: 30%;
	border-radius: .75rem;
}
select {
	background-color: white;
}




footer {
	text-align: center;
	padding: 2rem;
}


/*@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

 On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}*/


.checkbox:checked {
    border: 1px solid #41B883;
    background-color: #34495E;
}
.checkbox:hover {
	box-shadow: 1px 1px #404040;
}
.menu:hover {
	transform: rotate(90deg);
}
.delete:hover {
	font-size: 150%;
}
